<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Bulgar site</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Загружаем статику -->
    <link rel="stylesheet" href="{% static 'css/word.css' %}">
</head>
<body>
	<div class="page-header">
        <a href="{% url 'word_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
	<div class="container">
		<br>
		<div class="row">
  			<div class="col-sm-1"></div>
  			<div class="col-sm-10">
            {% block content %}
            {% endblock %}
  	        </div>
  			<div class="col-sm-1"></div>
		</div>
    </div>
</body>
</html>