{% extends 'word/base.html' %}
{% block content %}
    {% for theme in themes %}
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-2">
                    <div class="thumbnail">
                        <a href="{% url 'word_list' name=theme.name %}"><img src="{{ theme.image.url }}" alt="Paris" width="100" height="100"></a>
                        <h1><a href="{% url 'word_list' name=theme.name %}">{{ theme.show_name }}</a></h1>
                    </div>
                </div>
            </div>  
        </div>
           
    {% endfor %} 
{% endblock %}