{% extends 'word/base.html' %}
{% block content %}
    {% for words in showword %}

        <!-- Progress bar -->
        <div class="progress">
          	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="20" id="progress-bar" style="width:4%">1/20</div>
        </div>
            
        <!-- Pic and question -->
        <div class="media">
            <div class="media-left media-middle">
              	<img src="{{ words.image.url }}" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
              	<h1 id="question">{{ bulgarian_word }}</h1>
            </div>
        </div>
        <hr>

        <!-- Answers -->
        <button type="button" class="btn btn-default btn-block" onclick="Check(1)" id="button1"><label id="answer1"></label></button>
        <button type="button" class="btn btn-default btn-block" onclick="Check(2)" id="button2"><label id="answer2"></label></button>
        <button type="button" class="btn btn-default btn-block" onclick="Check(3)" id="button3"><label id="answer3"></label></button>
        <br>
            
        <!-- Alerts -->
        <div class="alert alert-success alert-dismissable hidden" id="success_allert">
        	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        	<strong>Верно!</strong> Вы ответили правильно.
        </div>
        <div class="alert alert-danger alert-dismissable hidden" id="wrong_allert">
        	<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        	<strong>Не верно!</strong> Вы ответили неправильно. Правильный ответ: {{ words.bulgarian_word }}.
        </div>
            
        <!-- Button next -->
        <button type="button" class="btn btn-primary btn-md center-block" id="btn" onclick="Next()">Далее</button>
    {% endfor %} 


<!-- Скрипты -->
<script>
 
// Счетчик правильных ответов
var count_correct = 0;

// Кнопка Далее 
function Next(){
  location.reload();
}

// Рандомно получаем ответы
{% for words in showword %}
var correct_word = '{{ words.bulgarian_word }}';
document.getElementById("question").innerHTML = '{{ words.russian_word }}';
var answers = ['{{ words.bulgarian_word }}', '{{ words.wrong_one }}', '{{ words.wrong_two }}'];
var questnum = Math.floor((Math.random() * 3));
if (answers[questnum] == correct_word){
  var correct_index = 1;
} 
document.getElementById("answer1").innerHTML = answers[questnum];
answers.splice(questnum, 1);
var questnum = Math.floor((Math.random() * 2));
if (answers[questnum] == correct_word){
  var correct_index = 2;
} 
document.getElementById("answer2").innerHTML = answers[questnum];
answers.splice(questnum, 1);
document.getElementById("answer3").innerHTML = answers[0];
if (answers[0] == correct_word){
  var correct_index = 3;
} 
{% endfor %}
// Запуск функции проверки ответа 
function Check(index) {
  if (index == correct_index){
    document.getElementById("success_allert").className = "alert alert-success alert-dismissable show";
    count_correct += 1; 
    document.getElementById("progress-bar").style.width = "8%";
  }
  else {
    document.getElementById("wrong_allert").className = "alert alert-danger alert-dismissable show"; 
  }
  document.getElementById("button1").className = "btn btn-default btn-block disabled";
  document.getElementById("button2").className = "btn btn-default btn-block disabled";
  document.getElementById("button3").className = "btn btn-default btn-block disabled";
}


</script>
{% endblock %}