h1 a {
    color: #FCA205;
}
.thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
}
.thumbnail p {
      margin-top: 15px;
      color: #555;
}
.container {
      padding: 10px 50px;
}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}